@import 'element-diy.scss';

body {
  font-size: 14px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC , Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a, address, b, big, blockquote, body,
center, cite, code, dd, del, div, dl, dt, em,
fieldset, font, form, h1, h2, h3, h4, h5, h6,
html, i, iframe, img, ins, label, legend, li,
ol, p, pre, small, span, strong, u, ul, var {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container{
  width: 1200px;
  margin: auto;
}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/*Controls the entire scroll bar*/
::-webkit-scrollbar {
  background-color: #ECF0F7;
  width: 10px;
  height: 10px;
  background-clip: padding-box;
}

/*Middle sliding part of scroll bar*/
::-webkit-scrollbar-thumb {
  background-color: #D3DBE6;
  border-radius: 5px;
}
/*Scroll bar lower right area*/
::-webkit-scrollbar-corner {
  background-color: #ECF0F7;
}


.manage-container {
  margin-top: 16px;
  padding: 24px;
  background-color: #fff;

  .top-line {
    color: #38435a;
    font-size: 16px;
    font-weight: 600;
    img {
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }

  .level-type {
    height: 24px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 32px;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.height {
      background: rgba(229, 99, 99, 0.1);
      color: #e56363;
    }
    &.middle {
      background: rgba(244, 158, 11, 0.1);
      color: #f49e0b;
    }
    &.low {
      background: rgba(47, 144, 234, 0.1);
      color: #2f90ea;
    }
    &.info {
      background: rgba(172, 180, 196, 0.1);
      color: #abb2c0;
    }
  }
  .table-btn-box {
    display: flex;
    align-items: center;
    color: #1a80f2;
    .l {
      height: 10px;
      border-left: 1px solid #b6bbc5;
    }
    .iconshezhi-2 {
      margin-right: 12px;
    }
    .iconshanchu-6 {
      margin-left: 12px;
    }
  }
}

.select-warp {
  margin: 16px 0;
  width: 100%;
  .add-button {
    padding: 0 16px;
    background: #1a80f2;
    border-radius: 2px;
    border: 0px solid #1a80f2;
    color: #ffffff;
    height: 32px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 14px;
      margin-right: 4px;
    }
  }
}

.list-table {
  &.el-table {
    border-left: 1px solid #e5e6eb;
    border-right: 1px solid #e5e6eb;
    border-top: 1px solid #e5e6eb;
    ::v-deepth {
      background: #f2f3f5;
      .cell {
        color: #38435a;
        .el-checkbox {
          margin-left: 4px;
        }
      }
    }
  }
}

.submitBtn {
  width: 124px;
  height: 38px;
  background: #4a72ae;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

.cancelBtn {
  width: 124px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #4a72ae;
  font-size: 14px;
  color: #4a72ae;
}

.pIcon {
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    color: #1a80f2;
  }
}